.lf-botton-group>.lf-botton.is-active,.lf-botton-group>.lf-botton.is-disabled,.lf-botton-group>.lf-botton:active,.lf-botton-group>.lf-botton:focus,.lf-botton-group>.lf-botton:hover {
  z-index: 1
}

.lf-botton {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px
}

.lf-botton+.lf-botton {
  margin-left: 10px
}

.lf-botton:focus,.lf-botton:hover {
  color: #409EFF;
  border-color: #c6e2ff;
  background-color: #ecf5ff
}

.lf-botton:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
  outline: 0
}

.lf-botton::-moz-focus-inner {
  border: 0
}

.lf-botton [class*=el-icon-]+span {
  margin-left: 5px
}

.lf-botton.is-plain:focus,.lf-botton.is-plain:hover {
  background: #FFF;
  border-color: #409EFF;
  color: #409EFF
}

.lf-botton.is-active,.lf-botton.is-plain:active {
  color: #3a8ee6;
  border-color: #3a8ee6
}

.lf-botton.is-plain:active {
  background: #FFF;
  outline: 0
}

.lf-botton.is-disabled,.lf-botton.is-disabled:focus,.lf-botton.is-disabled:hover {
  color: #C0C4CC;
  cursor: not-allowed;
  background-image: none;
  background-color: #FFF;
  border-color: #EBEEF5
}

.lf-botton.is-disabled.lf-botton--text {
  background-color: transparent
}

.lf-botton.is-disabled.is-plain,.lf-botton.is-disabled.is-plain:focus,.lf-botton.is-disabled.is-plain:hover {
  background-color: #FFF;
  border-color: #EBEEF5;
  color: #C0C4CC
}

.lf-botton.is-loading {
  position: relative;
  pointer-events: none
}

.lf-botton.is-loading:before {
  pointer-events: none;
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: rgba(255,255,255,.35)
}

.lf-botton.is-round {
  border-radius: 20px;
  padding: 12px 23px
}

.lf-botton.is-circle {
  border-radius: 50%;
  padding: 12px
}

.lf-botton--primary {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF
}

.lf-botton--primary:focus,.lf-botton--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #FFF
}

.lf-botton--primary.is-active,.lf-botton--primary:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
  color: #FFF
}

.lf-botton--primary:active {
  outline: 0
}

.lf-botton--primary.is-disabled,.lf-botton--primary.is-disabled:active,.lf-botton--primary.is-disabled:focus,.lf-botton--primary.is-disabled:hover {
  color: #FFF;
  background-color: #a0cfff;
  border-color: #a0cfff
}

.lf-botton--primary.is-plain {
  color: #409EFF;
  background: #ecf5ff;
  border-color: #b3d8ff
}

.lf-botton--primary.is-plain:focus,.lf-botton--primary.is-plain:hover {
  background: #409EFF;
  border-color: #409EFF;
  color: #FFF
}

.lf-botton--primary.is-plain:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
  color: #FFF;
  outline: 0
}

.lf-botton--primary.is-plain.is-disabled,.lf-botton--primary.is-plain.is-disabled:active,.lf-botton--primary.is-plain.is-disabled:focus,.lf-botton--primary.is-plain.is-disabled:hover {
  color: #8cc5ff;
  background-color: #ecf5ff;
  border-color: #d9ecff
}

.lf-botton--success {
  color: #FFF;
  background-color: #67C23A;
  border-color: #67C23A
}

.lf-botton--success:focus,.lf-botton--success:hover {
  background: #85ce61;
  border-color: #85ce61;
  color: #FFF
}

.lf-botton--success.is-active,.lf-botton--success:active {
  background: #5daf34;
  border-color: #5daf34;
  color: #FFF
}

.lf-botton--success:active {
  outline: 0
}

.lf-botton--success.is-disabled,.lf-botton--success.is-disabled:active,.lf-botton--success.is-disabled:focus,.lf-botton--success.is-disabled:hover {
  color: #FFF;
  background-color: #b3e19d;
  border-color: #b3e19d
}

.lf-botton--success.is-plain {
  color: #67C23A;
  background: #f0f9eb;
  border-color: #c2e7b0
}

.lf-botton--success.is-plain:focus,.lf-botton--success.is-plain:hover {
  background: #67C23A;
  border-color: #67C23A;
  color: #FFF
}

.lf-botton--success.is-plain:active {
  background: #5daf34;
  border-color: #5daf34;
  color: #FFF;
  outline: 0
}

.lf-botton--success.is-plain.is-disabled,.lf-botton--success.is-plain.is-disabled:active,.lf-botton--success.is-plain.is-disabled:focus,.lf-botton--success.is-plain.is-disabled:hover {
  color: #a4da89;
  background-color: #f0f9eb;
  border-color: #e1f3d8
}

.lf-botton--warning {
  color: #FFF;
  background-color: #E6A23C;
  border-color: #E6A23C
}

.lf-botton--warning:focus,.lf-botton--warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #FFF
}

.lf-botton--warning.is-active,.lf-botton--warning:active {
  background: #cf9236;
  border-color: #cf9236;
  color: #FFF
}

.lf-botton--warning:active {
  outline: 0
}

.lf-botton--warning.is-disabled,.lf-botton--warning.is-disabled:active,.lf-botton--warning.is-disabled:focus,.lf-botton--warning.is-disabled:hover {
  color: #FFF;
  background-color: #f3d19e;
  border-color: #f3d19e
}

.lf-botton--warning.is-plain {
  color: #E6A23C;
  background: #fdf6ec;
  border-color: #f5dab1
}

.lf-botton--warning.is-plain:focus,.lf-botton--warning.is-plain:hover {
  background: #E6A23C;
  border-color: #E6A23C;
  color: #FFF
}

.lf-botton--warning.is-plain:active {
  background: #cf9236;
  border-color: #cf9236;
  color: #FFF;
  outline: 0
}

.lf-botton--warning.is-plain.is-disabled,.lf-botton--warning.is-plain.is-disabled:active,.lf-botton--warning.is-plain.is-disabled:focus,.lf-botton--warning.is-plain.is-disabled:hover {
  color: #f0c78a;
  background-color: #fdf6ec;
  border-color: #faecd8
}

.lf-botton--danger {
  color: #FFF;
  background-color: #F56C6C;
  border-color: #F56C6C
}

.lf-botton--danger:focus,.lf-botton--danger:hover {
  background: #f78989;
  border-color: #f78989;
  color: #FFF
}

.lf-botton--danger.is-active,.lf-botton--danger:active {
  background: #dd6161;
  border-color: #dd6161;
  color: #FFF
}

.lf-botton--danger:active {
  outline: 0
}

.lf-botton--danger.is-disabled,.lf-botton--danger.is-disabled:active,.lf-botton--danger.is-disabled:focus,.lf-botton--danger.is-disabled:hover {
  color: #FFF;
  background-color: #fab6b6;
  border-color: #fab6b6
}

.lf-botton--danger.is-plain {
  color: #F56C6C;
  background: #fef0f0;
  border-color: #fbc4c4
}

.lf-botton--danger.is-plain:focus,.lf-botton--danger.is-plain:hover {
  background: #F56C6C;
  border-color: #F56C6C;
  color: #FFF
}

.lf-botton--danger.is-plain:active {
  background: #dd6161;
  border-color: #dd6161;
  color: #FFF;
  outline: 0
}

.lf-botton--danger.is-plain.is-disabled,.lf-botton--danger.is-plain.is-disabled:active,.lf-botton--danger.is-plain.is-disabled:focus,.lf-botton--danger.is-plain.is-disabled:hover {
  color: #f9a7a7;
  background-color: #fef0f0;
  border-color: #fde2e2
}

.lf-botton--info {
  color: #FFF;
  background-color: #909399;
  border-color: #909399
}

.lf-botton--info:focus,.lf-botton--info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #FFF
}

.lf-botton--info.is-active,.lf-botton--info:active {
  background: #82848a;
  border-color: #82848a;
  color: #FFF
}

.lf-botton--info:active {
  outline: 0
}

.lf-botton--info.is-disabled,.lf-botton--info.is-disabled:active,.lf-botton--info.is-disabled:focus,.lf-botton--info.is-disabled:hover {
  color: #FFF;
  background-color: #c8c9cc;
  border-color: #c8c9cc
}

.lf-botton--info.is-plain {
  color: #909399;
  background: #f4f4f5;
  border-color: #d3d4d6
}

.lf-botton--info.is-plain:focus,.lf-botton--info.is-plain:hover {
  background: #909399;
  border-color: #909399;
  color: #FFF
}

.lf-botton--info.is-plain:active {
  background: #82848a;
  border-color: #82848a;
  color: #FFF;
  outline: 0
}

.lf-botton--info.is-plain.is-disabled,.lf-botton--info.is-plain.is-disabled:active,.lf-botton--info.is-plain.is-disabled:focus,.lf-botton--info.is-plain.is-disabled:hover {
  color: #bcbec2;
  background-color: #f4f4f5;
  border-color: #e9e9eb
}

.lf-botton--text,.lf-botton--text.is-disabled,.lf-botton--text.is-disabled:focus,.lf-botton--text.is-disabled:hover,.lf-botton--text:active {
  border-color: transparent
}

.lf-botton--medium {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px
}

.lf-botton--mini,.lf-botton--small {
  font-size: 12px;
  border-radius: 3px
}

.lf-botton--medium.is-round {
  padding: 10px 20px
}

.lf-botton--medium.is-circle {
  padding: 10px
}

.lf-botton--small,.lf-botton--small.is-round {
  padding: 9px 15px
}

.lf-botton--small.is-circle {
  padding: 9px
}

.lf-botton--mini,.lf-botton--mini.is-round {
  padding: 7px 15px
}

.lf-botton--mini.is-circle {
  padding: 7px
}

.lf-botton--text {
  color: #409EFF;
  background: 0 0;
  padding-left: 0;
  padding-right: 0
}

.lf-botton--text:focus,.lf-botton--text:hover {
  color: #66b1ff;
  border-color: transparent;
  background-color: transparent
}

.lf-botton--text:active {
  color: #3a8ee6;
  background-color: transparent
}

.lf-botton-group {
  display: inline-block;
  vertical-align: middle
}

.lf-botton-group::after,.lf-botton-group::before {
  display: table;
  content: ""
}

.lf-botton-group::after {
  clear: both
}

.lf-botton-group>.lf-botton {
  float: left;
  position: relative
}

.lf-botton-group>.lf-botton+.lf-botton {
  margin-left: 0
}

.lf-botton-group>.lf-botton:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.lf-botton-group>.lf-botton:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.lf-botton-group>.lf-botton:first-child:last-child {
  border-radius: 4px
}

.lf-botton-group>.lf-botton:first-child:last-child.is-round {
  border-radius: 20px
}

.lf-botton-group>.lf-botton:first-child:last-child.is-circle {
  border-radius: 50%
}

.lf-botton-group>.lf-botton:not(:first-child):not(:last-child) {
  border-radius: 0
}

.lf-botton-group>.lf-botton:not(:last-child) {
  margin-right: -1px
}

.lf-botton-group>.el-dropdown>.lf-botton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--primary:first-child {
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--primary:last-child {
  border-left-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--primary:not(:first-child):not(:last-child) {
  border-left-color: rgba(255,255,255,.5);
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--success:first-child {
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--success:last-child {
  border-left-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--success:not(:first-child):not(:last-child) {
  border-left-color: rgba(255,255,255,.5);
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--warning:first-child {
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--warning:last-child {
  border-left-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--warning:not(:first-child):not(:last-child) {
  border-left-color: rgba(255,255,255,.5);
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--danger:first-child {
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--danger:last-child {
  border-left-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--danger:not(:first-child):not(:last-child) {
  border-left-color: rgba(255,255,255,.5);
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--info:first-child {
  border-right-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--info:last-child {
  border-left-color: rgba(255,255,255,.5)
}

.lf-botton-group .lf-botton--info:not(:first-child):not(:last-child) {
  border-left-color: rgba(255,255,255,.5);
  border-right-color: rgba(255,255,255,.5)
}